<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>

    <script type="text/javascript" src="static/js/app.js"></script>

</head>

<body>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

        <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div class="row">
                <div class="u-max-full-width column">
                    <h1>Title of Page</h1>
                    <h4>Lane8</h4>
                    <p>APIs, APIs, and more APIs</p>
                </div>
            </div>

                <div class="container">
                    <div class="row">
                        <input type="text" name="query" placeholder="Type in what you want to search!">
                        <select id = 'ideas'>
                            <option>Basketball</option>
                            <option>Oregon</option>
                            <option>Kim Kardashian</option>
                            <option>Adele</option>
                        </select>
                        <button id="submit" type="button" class="btn btn-default" onclick="getPoints()">Submit</button>
                        </div>
                    </div>
                </div>
    <div id="map"></div>

    <script type="text/javascript">
$(document).ready(function() {
    $('button#submit').click(
        function() {
    $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
    var $value = $('#ideas option:selected').html();
    $.ajax({
        url: $SCRIPT_ROOT + '/_tweet_calcs', //TO DO
        type: 'GET',
        dataType: 'json',
        data: {
            'query' : $value
        },
        success: function(json) {
            var array = [];
            $.each(json, function (i, item) {
                array.push(new google.maps.visualization.WeightLocation(google.maps.LatLng(json.lat, json.long), json.weight + 1.01));
            });
            return array;
        },
        error: function (xhr, desc, err) {
            console.log(xhr);
            console.log("Details: " + desc + "\nError: " + err);
        }
   });
   });
   })
   </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?sensor=false&signed_in=true&libraries=visualization&callback=initMap">
                </script>
</body>

</html>
