html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
    background: grey;
}

footer {
    background: url(http://www.pixeden.com/media/k2/galleries/112/003-subtle-light-pattern-background-texture.jpg);
    margin: 40px 0px;
}

#map {
    height:600px;
    width: 100%;
    position: absolute;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#floating-panel {
    background-color: #fff;
    border: 1px solid #999;
    left: 25%;
    padding: 5px;
    position: absolute;
    top: 10px;
    z-index: 5;
}

#tweeter{
  border:1px solid #000;
  font-family:arial;
  height:600px;
  width:100%;
  background: white;
}
ul{
  list-style:none;
  max-height:598px;
  margin:0;
  overflow:auto;
  padding:0;
  text-indent:10px;
}
li{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    line-height:25px;
}

.container-fluid{
    border-radius: 0px;
}

.jumbotron{
    border-radius: 0px !important;
}

.navbar{
    border-radius: 0px;
}


.button {
   border: 1px solid #000000;
   background: #4e8cb5;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4e8cb5));
   background: -webkit-linear-gradient(top, #000000, #4e8cb5);
   background: -moz-linear-gradient(top, #000000, #4e8cb5);
   background: -ms-linear-gradient(top, #000000, #4e8cb5);
   background: -o-linear-gradient(top, #000000, #4e8cb5);
   background-image: -ms-linear-gradient(top, #000000 0%, #4e8cb5 100%);
   padding: 5.5px 11px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ff5252 0 1px 0;
   color: #ff4545;
   font-size: 13px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #000000;
   text-shadow: #ffffff 0 1px 0;
   background: #f51e1e;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#f51e1e));
   background: -webkit-linear-gradient(top, #000000, #f51e1e);
   background: -moz-linear-gradient(top, #000000, #f51e1e);
   background: -ms-linear-gradient(top, #000000, #f51e1e);
   background: -o-linear-gradient(top, #000000, #f51e1e);
   background-image: -ms-linear-gradient(top, #000000 0%, #f51e1e 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #ffffff 0 1px 0;
   border: 1px solid #000000;
   background: #39f039;
   background: -webkit-gradient(linear, left top, left bottom, from(#faff61), to(#f51e1e));
   background: -webkit-linear-gradient(top, #faff61, #39f039);
   background: -moz-linear-gradient(top, #faff61, #39f039);
   background: -ms-linear-gradient(top, #faff61, #39f039);
   background: -o-linear-gradient(top, #faff61, #39f039);
   background-image: -ms-linear-gradient(top, #faff61 0%, #39f039 100%);
   color: #000000;
   }


